body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
}

.button {
  width: fit-content;
  min-width: 150px;
  color: darkred;
  text-decoration: none;
  height: 50px;
  display: flex;
  padding: 0px 10px 0px 10px;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-color: darkred;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  font-family: "Inclusive Sans", sans-serif;
  margin: 5px;
}
.button a {
  color: darkred;
  text-decoration: none;
}

.button:hover {
  background-color: darkred;
  border-color: black;
  border-style: solid;
  color: black;
  cursor: pointer;
}
.button:hover a {
  color: black;
}

.title-font {
  color: darkred;
  font-family: "capellina-caps", serif;
  font-size: 30px;
  margin: 5px;
}

.paragraph-text {
  color: darkred;
  font-family: "capellina-caps", serif;
  font-size: 25px;
}

header {
  background-color: none;
  height: 100px;
  top: 0;
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  z-index: 1;
}
header a {
  margin: 15px;
}
header img {
  width: 60px;
  opacity: 0.2;
}
header #hamburger {
  display: flex;
  height: 50px;
  margin-left: auto;
}
header nav {
  margin-left: auto;
  display: none;
}
header nav a {
  text-decoration: none;
  color: darkred;
  opacity: 0.4;
  margin: 0px 20px 0px 20px;
  font-family: "capellina-caps", serif;
  font-size: 40px;
}

header img:hover {
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
}
header nav a:hover {
  opacity: 1;
  transition: 0.2s;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.lightbox a {
  text-decoration: none;
  color: darkred;
  margin: 20px 0px 20px 0px;
  font-family: "capellina-caps", serif;
  font-size: 32px;
}

/* Close button style */
.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  color: darkred;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

@media (min-width: 768px) {
  header nav {
    display: flex;
  }
  header #hamburger {
    display: none;
  }
}
footer {
  height: 300px;
  text-align: center;
}
footer nav {
  margin: 10px auto 10px auto;
}

#contact-section {
  background-color: black;
}

.input-form {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form-box {
  background-color: black;
  border-color: darkred;
  color: darkred;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin: 10px auto 10px auto;
  width: 50vw;
}

#about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  margin: 20px auto 20px auto;
}
#about-section p {
  align-self: center;
}

#zoe-selfie img {
  width: 30vw;
  border-radius: 20px;
}

body {
  margin: 0;
  background: black;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */