@use '../base/baseStyles' as a;
@use 'fonts' as f;

header {
    background-color: none;
    height: 100px;
    top: 0;
    display: flex;
    flex-direction: row;
    position: sticky;
    align-items: center;
    z-index: 1;
    a{
  margin: 15px;
    }
     img{
        width: 60px;
      
        opacity:0.2;
     }
     #hamburger {
        display: flex;
        height: 50px;
        margin-left: auto;
     }
     nav {
        margin-left: auto;
        display: none;
        a {
            text-decoration: none;
            color: a.$secondary-color;
            opacity: 0.4;
            margin: 0px 20px 0px 20px;
            font-family: f.$primary-font;
            font-size: 40px;
        }


     }
}

header {

    img:hover {
      opacity: 01;
      transition: 0.2s;
      cursor: pointer;
    }
    nav {
       a:hover {
           opacity: 01;
           transition: 0.2s;
       }


    }
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: a.$primary-color;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    a {
        text-decoration: none;
        color: a.$secondary-color;
        margin: 20px 0px 20px 0px;
        font-family: f.$primary-font;
        font-size: 32px;
    }
  }

/* Close button style */
.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: a.$secondary-color;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
  }

@media (min-width: 768px) {

    header {
        nav {
            display: flex;
        }
        #hamburger {
            display: none;
        }
    }


}

@media (max-width: 1200px) {
  
}