@use '../base/baseStyles' as a;
@use 'fonts' as f;

header {
    background: rgba(0, 0, 0, .2);
    height: 100px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1;
    width: 100vw;

    
    a{
    margin: 15px;
    opacity: 0.4;
    }
     img{width: 60px;}
     #hamburger {
        display: flex;
        height: 50px;
        margin-left: auto;
     }
     nav {
        margin-left: auto;
        display: none;
        a {
            text-decoration: none;
            color: a.$secondary-color;
            opacity: 0.4;
            margin: 0px 20px 0px 20px;
            font-family: f.$primary-font;
            font-size: 40px;
        }
     }
}

     header:hover {
       background: rgba(0, 0, 0, .5);

       a {opacity: 100;}
       a:hover {animation: neonFlicker 1.5s infinite alternate;}
        img:hover {animation: neonFlickerObject 1.5s infinite alternate;}
    }

            @keyframes neonFlicker {
                0%, 100% {text-shadow: 0 0 30px red;}
                50% {text-shadow: 0 0 45px red;}}

                @keyframes neonFlickerObject {

                0%, 100% {filter: drop-shadow(0 0 20px red);}
                50% {filter: drop-shadow(0 0 25px red);}
                }

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: a.$primary-color;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    a {
        text-decoration: none;
        color: a.$secondary-color;
        margin: 20px 0px 20px 0px;
        font-family: f.$primary-font;
        font-size: 32px;
    }
  }

/* Close button style */
.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: a.$secondary-color;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
  }

@media (min-width: 768px) {

    header {
        nav {
            display: flex;
        }
        #hamburger {
            display: none;
        }
    }


}

@media (max-width: 1200px) {
  
}



