$primary-color: black;
$secondary-color: darkred;

html, body {
  margin: 0;
  padding: 0;
scroll-behavior: smooth;
}


body {
    background-color: rgb(20, 0, 0);
}

.button {
    width: fit-content;
    min-width: 150px;
    color: $secondary-color;
    text-decoration: none;
    height: 50px;
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    border-color: $secondary-color;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    font-family: "Inclusive Sans", sans-serif;
    margin: 5px;
    a{
        color: $secondary-color;
        text-decoration: none;
    }
}

.button:hover {
    background-color: $secondary-color;
    border-color: $primary-color;
    border-style: solid;
    color: $primary-color;
    cursor: pointer;
    a{
        color: $primary-color;
    }
}
