@use '../base/baseStyles' as a;

// #contact-section {
//     background-color: a.$primary-color;
// }

#contactTitle {
        margin: 10px auto 10px 10vw;
}

.input-form {
    align-items: left;
    display: flex;
    flex-direction: column;

}
.form-box {
    background-color: a.$primary-color;
    border-color: a.$secondary-color;
    color: a.$secondary-color;
    border-style: solid;
    border-radius: 4px;
    padding: 10px;
    height:auto;
    overflow: hidden;
    text-align: center;
    margin: 10px auto 10px 10vw;
    width: 40vw;
}

#send-button {
       margin: 10px auto 10px 10vw;
}

